/*----- Setup -----*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;;
}

/*----- Global Classes -----*/
.title {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

/*----- Header -----*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  margin: 0;
  background-color: #2B2B2B;
}
.username {
  align-self: flex-end;
  width: 150px;
  padding: 0 30px 0 20px;
  margin: 10px 15px 0 0;
  background-image: url(../assets/avatar.svg), url(../assets/down-arrow.svg);
  background-position: 0px, 125px;
  background-repeat: no-repeat;
  background-size: 15px;
  color: #24B5FE;
  font-size: 12px;
  text-align: center;
}

/*----- Nav -----*/
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  height: 100px;
  padding-bottom: 20px;
  margin-left: 10px;
}
.tab {
  display: inline-block;
  width: 110px;
  margin: 0;
  background-position: 1px;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #777777;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
}

/*----- Tab Icons -----*/
#shares {
  background-image: url(../assets/share-icon.svg);
  color: white;
}
#playlists {
  background-image: url(../assets/list.svg);
}
#videos {
  background-image: url(../assets/batman.svg);
}

/*----- Logo -----*/
.logo {
  align-self: center;
  width: 100px;
  height: 80px;
  margin: 0 20px 0 0;
  background:url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent:-9999px;
}

/*----- Main -----*/
.main {
  height: 100%;
}
.shares-tab {
  display: none;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/*----- Card -----*/
.card {
  box-shadow: 0 0 10px #777777;
  width: 100%;
  height: 200px;
  margin: 5px;
}
.card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px #777777;
  height: 0;
}
.card-reply-icon {
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: 10px 0 0 10px;
  background-image: url(../assets/share-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.card-views {
  z-index: 1;
  margin: 10px 10px 0 0;
  text-align: center;
}
.views-number {
  margin: -8px 0 0;
  font-size: 30px;
  font-weight: 300;
}
.card-main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-image: url(../images/batman.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-name-container {
  padding: 2px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}
.card-name {
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
}
.card-date {
  margin: 0;
  color: #FFFFFF;
  font-size: 10px;
}
.card-link {
  display: none;
}
.card-playlist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: transparent;
  cursor: pointer;
}
.card-playlist-container:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
}
.card-playlist {
  display: none;
}
.card-playlist-name {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}
.attachments {
  display: none;
}
.attachments-number {
  display: none;
}

/*----- Card Main BG -----*/
#card-1 .card-main {
background-image: url(../images/batman.jpg);
}
#card-2 .card-main {
background-image: url(../images/robin.jpg);
}
#card-3 .card-main {
background-image: url(../images/catwoman.jpg);
}
#card-4 .card-main {
background-image: url(../images/penguin.jpg);
}
#card-5 .card-main {
background-image: url(../images/riddler.jpg);
}
#card-6 .card-main {
background-image: url(../images/joker.jpg);
}
#card-7 .card-main {
background-image: url(../images/freeze.jpg);
}
#card-8 .card-main {
background-image: url(../images/batgirl.jpg);
}

/*----- Card Header BG -----*/
#card-1 .card-header {
background-image: url(../images/batman.jpg);
}
#card-2 .card-header {
background-image: url(../images/robin.jpg);
}
#card-3 .card-header {
background-image: url(../images/catwoman.jpg);
}
#card-4 .card-header {
background-image: url(../images/penguin.jpg);
}
#card-5 .card-header {
background-image: url(../images/riddler.jpg);
}
#card-6 .card-header {
background-image: url(../images/joker.jpg);
}
#card-7 .card-header {
background-image: url(../images/freeze.jpg);
}
#card-8 .card-header {
background-image: url(../images/batgirl.jpg);
}

/*----- Media Queries -----*/
/*----- over 560 -----*/
@media (min-width: 560px) {
  /*----- Header -----*/
  /*----- Nav -----*/
  .nav-tabs {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 80%;
    height: 80px;
    margin-bottom: 20px;
  }
  .tab {
    width: 110px;
    margin: 0 20px;
  }

  /*----- Main -----*/
  .shares-tab {
    display: block;
    margin: 0 0 0 40px;
    color: #555555;
    font-weight: 400;
  }
  .card-wrapper {
    padding: 10px 30px 30px;
  }
  /*----- Card -----*/
  .card {
    width: 45%;
    height: 370px;
    margin: 10px;
  }
  .card-header {
    height: 130px;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-reply-icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
  .card-views {
    margin-top: 5px;
  }
  .card-main {
    display: block;
    width: 90%;
    margin: 5px auto;
  }
  .card-name-container {
    margin-bottom: 12px;
    padding: 0;
    background-color: transparent;
  }
  .card-name {
    color: black;
  }
  .card-date {
    color: #B7B8BA;
  }
  .card-link {
    display: block;
    border-radius: 2px;
    padding: 5px 10px;
    margin-bottom: 12px;
    background-color: #d9d9d9;
    color: #939393;
    font-size: 12px;
    text-decoration: none;
    word-break: break-all;
  }
  .card-playlist-container {
    display: block;
    height: 60px;
    background-color: transparent;
    color: #000000;
  }
  .card-playlist-container:hover {
    background-color: transparent;
    color: #000000;
  }
  .card-playlist {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .card-playlist-name {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .attachments {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .attachments-number {
    display: block;
    margin: 0;
    color: #3ABAFE;
    font-size: 30px;
    font-weight: 300;
  }

  /*----- Card Main BG -----*/
  #card-1 .card-main {
    background: none;
  }
  #card-2 .card-main {
    background: none;
  }
  #card-3 .card-main {
    background: none;
  }
  #card-4 .card-main {
    background: none;
  }
  #card-5 .card-main {
    background: none;
  }
  #card-6 .card-main {
    background: none;
  }
  #card-7 .card-main {
    background: none;
  }
  #card-8 .card-main {
    background: none;
  }
}

/*----- over 790 -----*/
@media (min-width: 790px) {
  .card {
    width: 30%;
  }
}

/*----- over 1040 -----*/
@media (min-width: 1040px) {
  .card {
    max-width: 220px;
  }
}
