* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;;
}

.title {
  text-transform: uppercase;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
}

.card-wrapper {
  display: flex;
}
.card {
  /*background-color: orange;*/
  height: 450;
  box-shadow: 0 0 10px #777777;
}
.card-header {
  /*background-color: blue;*/
  display: flex;
  justify-content: space-between;
  height: 150px;
  background-image: url(/images/batman1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}
.card-reply-icon {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-image: url(/assets/forward.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.card-views {
  text-align: center;
  /*background-color: red;*/
  margin-top: 5px;
  margin-right: 10px;
}
.views-number {
  margin: -8px 0 0;
  font-weight: 300;
  font-size: 30px;
}
.card-main {
  /*background-color: purple;*/
  width: 90%;
  margin: 5px auto;
}
.card-name-container {
  margin-bottom: 20px;
}
.card-name {
  margin: 0;
  font-weight: 400;
}
.card-date {
  color: #B7B8BA;
  margin: 0;
  font-size: 12px;
}
.card-link {
  /*background-color: #EFEFEF;
  height: 50px;
  border-radius: 2px;
  padding: 5px 10px;
  width: 100%;*/
}
/* FIXME: refactor */
.card-link {
  width: 100%;
  color: #939393;
  font-size: 12px;
  word-break: break-all;
  text-decoration: none;
  background-color: #EFEFEF;
  height: 50px;
  border-radius: 2px;
  padding: 5px 10px;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.card-playlist-container {
  margin-bottom: 20px;
}
.card-playlist {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.card-playlist-name {
  margin: 0;
  font-weight: 400;
}

.card-footer {
  margin-bottom: 10px;
}
.attachments {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.attachments-number {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  color: #3ABAFE;
}
